[Desktop Entry]
Type=Application
Name=SubDock
GenericName=Sub-Store Desktop Manager
Exec=/opt/subdock/SubDock
Icon=org.substore.subdock
Terminal=false
Categories=Network;Utility;
StartupWMClass=org.substore.subdock
StartupNotify=true
