[Desktop Entry]
Type=Application
Name=SubDock
GenericName=Sub-Store Desktop Manager
Exec=/opt/subdock/SubDock
Icon=/opt/subdock/SubDock/data/icon/app_icon.png
Terminal=false
Categories=Network;Utility;
StartupWMClass=org.substore.subdock
StartupNotify=true
